<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 命名空间 用于区分多个文件中的相同id
  	比如 a.xml (namespace = a)
  	   id = "text"
  	   b.xml (namespace = b)
  	   id = "text"
   -->
<mapper namespace="a">
  <select id="selectFood" resultType="map">
    select * from food
  </select>
  
  
  <!--
  	重点：
  	           使用#{}方式 实际上是使用占位符？来代替
  	          使用${}方式 实际上是使用值替换对应的键 注意如果是字符串的话 该添加 ''
  
   -->
  <select id="selectFoodByParam" resultType="map">
    select * from food where price=#{myprice} and foodname=#{myfoodname}
  </select>
  
  <insert id="saveFood">
  	insert into food values(FOOD_SEC.nextval,#{foodname},#{price})
  </insert>
  
</mapper>