<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 是mybatis的核心配置文件
		1.数据库的连接信息（连接池）
		
 -->
	<properties resource="jdbc.properties"></properties>
	<typeAliases>
		<typeAlias type="cn.easytop.lesson03.resultMap.xml.Grade" alias="grade"/>
		<typeAlias type="cn.easytop.lesson03.resultMap.xml.Student" alias="student"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
		<!-- 事务管理器 默认使用JDBC事务 -->
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driverClass}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username1}" />
				<property name="password" value="${password1}" />
			</dataSource>
		</environment>
	</environments>
	  <mappers>
	  	<mapper class="cn.easytop.lesson03.resultMap.anno.GradeMapper"/>
	  	<mapper class="cn.easytop.lesson03.resultMap.anno.StudentMapper"/>
	  </mappers>
</configuration>